main {
  font-family: "Roboto";
  padding: 2em 0;
}

main .lx-column {
  float: left;
  width: 50%;
}

main details {
  color: black;
  background-color: hsl(209, 78%, 73%);
  padding: 1em;
  margin: 0.5em;
  border-radius: 1cm;
}
main details summary {
  padding: 0.5em;
  border-radius: 1em;
  outline: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
main details summary .lx-avatar {
  border-radius: 50%;
  overflow: hidden;
}
main details summary::-webkit-details-marker {
  display: none;
}
main details[open], main details:hover {
  color: black;
  background-color: rgb(36, 98, 134);
}
